
backend/node_modules
backend-mongoose/node_modules
frontend/node_modules
frontend/src/pages/profile/profile.css
frontend/src/pages/profile/profile.css
frontend/src/pages/profile/profile.css
*.zip
*.md
